@model QuoteViewModel

<div class="video-page">
    <video autoplay="" loop="" muted="" class="video">
        <source src="~/mp4/bg.mp4" type="video/mp4">
    </video>
</div>

<div class="overlay"></div>
<div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <div>
                    <h1 class="uni-name-first">
                        Plovdiv university
                    </h1>
                    <h1 class="uni-name-second">
                        "Paisii Hilendarski"
                    </h1><br /><br />
                    <h3 class="main-heading"><i>Social Network for FMI Plovdiv's students</i></h3>
                    <h4 class="secondary-heading"><i>Connect with friends, collegues, create new friendships. Post photo or status, write articles or be involved in polls and forums, play games or just have fun ...</i></h4>
                </div>
                <div class="masthead-content text-white py-5 py-md-0">
                    <div class="text-center"><img src="~/images/logos/study.png" height="200px" /></div>
                </div>
                <div class="col-md-10">
                    <form method="post">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="All" class="text-warning" style="font-size:14px"></div>
                        <input type="text" name="FacultyNumber" placeholder="Faculty Number" class="form-control input-field" /><br />
                        <input type="password" name="Egn" placeholder="Personal Id /EGN/" class="form-control input-field" /><br />
                        <button type="submit" class="btn btn-info form-control input-button">Log in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="social-icons">
    <ul class="list-unstyled text-center mb-0">
        @{
            var text = "PLOVDIV";
            foreach (var letter in text)
            {
                <li class="list-unstyled-item">
                    <a style="font-size: 15px; color: greenyellow;">
                        @letter
                    </a>
                </li>
            }
        }
    </ul>
</div>

<div class="social-icons text-right col-md-offset-4" style="padding-bottom:50px;padding-left:50px">
    <ul>
        <li><h1 class="text-right quote-text">@Model.Text</h1></li>
        <li><h3 class="text-right quote-author"><em>@Model.Author</em></h3></li>
    </ul>
</div>
