@model IEnumerable<PuSocialNetwork.Services.Models.PostListingServiceModel>
@{
    ViewData["Title"] = "Index";
}
<link href="~/css/accordion.css" rel="stylesheet" />
<div class="col-md-3">
    <div style="position:fixed;">
        <h3 style="color:yellow; font-family: cursive">@Context.Session.GetString(SessionConstants.SessionUserFirstName)</h3>
        <h3 style="color:yellow; font-family: cursive">@Context.Session.GetString(SessionConstants.SessionUserLastName)</h3><br />
        <button class="accordion">Profile</button>
        <div class="panel">
            <p style="margin-top:50px">Visit your events here</p>
            <a href="/events/myevents" style="margin-bottom:50px" class="btn btn-success form-control">View</a>
        </div>
        <button class="accordion">Groups</button>
        <div class="panel">
            <p style="margin-top:50px">See all the events from all user</p>
            <a href="/events/all" style="margin-bottom:50px" class="btn btn-success form-control">View</a>
        </div>
        <button class="accordion">Articles</button>
        <div class="panel">
            <p style="margin-top:50px">Create new event here</p>
            <a href="/events/create" style="margin-bottom:50px" class="btn btn-success form-control">Create</a>
        </div>
        <button class="accordion">Games</button>
        <div class="panel">
            <p style="margin-top:50px">Visit your events here</p>
            <a href="/events/myevents" style="margin-bottom:50px" class="btn btn-success form-control">View</a>
        </div>
    </div>
</div>

<div class="col-md-6">
    @await Html.PartialAsync("_PostPartPartial", Model)
</div>

<div class="col-md-3">
    <div style="position:fixed">
        <div class="jumbotron">

        </div>
    </div>
</div>

<script src="~/js/accordion.js"></script>
