
@{
    ViewData["Title"] = "Index";
}

<div class="col-md-3">
    First
</div>

<div class="col-md-6">
    <div class="jumbotron">
        <img src="https://www.tutorialrepublic.com/examples/images/avatar/3.jpg" class="avatar" alt="Avatar">
        Share what you are thinking here ...<br /><br />

        <form>
            <div class="radio">
                <label><input type="radio" name="optradio" checked>Status</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">Youtube link</label>
            </div>
            <textarea rows="5" class="form-control"></textarea>
            <br />
            <div class="text-right">
                <input type="submit" value="Post" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="col-md-3">
    Third
</div>
