@model IEnumerable<PuSocialNetwork.Services.Models.PostListingServiceModel>
@{
    ViewData["Title"] = "Index";
}
<link href="~/css/accordion.css" rel="stylesheet" />
<div class="col-md-3">
    <div style="position:fixed;">
        <h3 style="color:blue; font-family: cursive">@Context.Session.GetString(SessionConstants.SessionUserFirstName)</h3>
        <h3 style="color:blue; font-family: cursive">@Context.Session.GetString(SessionConstants.SessionUserLastName)</h3><br />
        <button class="accordion">Profile</button>
        <div class="panel">
            <p style="margin-top:50px">Hello, @Context.Session.GetString(SessionConstants.SessionUserFirstName)!</p>
            <a href="/Profile/@Context.Session.GetInt32(SessionConstants.SessionUserId)" style="margin-bottom:50px" class="btn btn-success form-control">View profile</a>
        </div>
        <button class="accordion">Blog</button>
        <div class="panel">
            <p style="margin-top:50px">Create and design an article</p>
            <a href="/Articles" style="margin-bottom:50px" class="btn btn-success form-control">Go to Blog</a>
        </div>
        <button class="accordion">Games</button>
        <div class="panel">
            <p style="margin-top:50px">Play games and have fun</p>
            <a href="/events/myevents" style="margin-bottom:50px" class="btn btn-success form-control">Play Game</a>
        </div>
    </div>
</div>

<div class="col-md-6">
    @await Html.PartialAsync("_PostPartPartial", Model)
</div>

<div class="col-md-3">
    <div style="position:fixed">
        <div class="jumbotron form-control">

        </div>
    </div>
</div>

<script src="~/js/accordion.js"></script>
